body {
  background: peachpuff;
  text-align: center;
}
#main-game {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  justify-content: center;
}

div {
  width: 100px;
  height: 100px;
  border: 1px solid gray;
  background: rgb(255 255 255);
}