@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  background: rgb(126,142,128);
  text-align: center;
  color: rgb(216,216,216);
  margin: 0 auto;
  width: 450px;
}
header {
  display: grid;
  grid-template-rows: 120px 160px;
  margin-bottom: 10px;
  justify-items: center;
}
h1 {
  font-size: 45pt;
}
#players {
  display: flex;
  justify-content: center;
  margin-left: 20px;
}
strong {
  color: rgb(86,86,77);
  font-size: 23px;
  vertical-align: -3px;
  padding-right: 5px;
}
h2 {
  color: rgb(216,216,216);
  font-weight: 400;
  font-size: 16px;
 }
h3 {
 color: rgb(86,86,77);
 font-weight: 400;
 font-size: 14px;
}
#popup {
  visibility: hidden;
  color: rgb(86,86,77);
  background-color: rgb(216,216,216);
  border-radius: 4px;
  display: inline-grid;
  justify-content: center;
  width: 80%;
  padding: 3%;
  font-size: 20pt;
  font-weight: 600;
  padding-bottom: 35px;
}
#popupText {
  margin-top: 20px;
  margin-bottom: 20px;
}
#closePopupBtn {
  color: rgb(216,216,216);
  background-color: rgb(86,86,77);
  margin-top: 10px;
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  margin: 0 auto;
  width: 150px;
  height: 50px;
}
#displaySection {
  margin-bottom: 50px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  height: 120px;
}
.gameActiveInfo {
  visibility: visible;
  position: relative;
  top: -160px;
  height: fit-content;
  padding: 10px 10px;
}

#playerOne {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: rgb(216,216,216);
  padding: 10px;
  padding-left: 37px;
  padding-right: 37px;
}
#playerTwo {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: rgb(216,216,216);
  padding: 10px;
  padding-left: 37px;
  padding-right: 37px;
}
.playerOneBadge {
  visibility: visible;
  position: relative;
  right: 43%;
  height: fit-content;
  padding: 10px 10px;
  border-radius: 100%;
  background: rgb(248,76,0);
}
.playerTwoBadge {
  visibility: hidden;
  position: relative;
  right: 44%;
  height: fit-content;
  padding: 10px 10px;
  border-radius: 100%;
  background: rgb(248,76,0);
}

#main-game {
  display: grid;
  grid-template-columns: 130px 130px 130px;
  grid-template-rows: 130px 130px 130px;
  justify-content: center;
  margin-top: 50px;
}
main div {
  width: 100%;
  height: 100%;
  border: 7px solid rgb(86,86,77);
  font-size: 130px;
  vertical-align: 4px;
  color: rgb(215,195,178);
  line-height: 0.8;
}
div:nth-child(1), div:nth-child(2), div:nth-child(3) {
  border-top: var(--border);
}
div:nth-child(1), div:nth-child(4), div:nth-child(7) {
  border-left: var(--border);
}
div:nth-child(3), div:nth-child(6), div:nth-child(9) {
  border-right: var(--border);
}
div:nth-child(2), div:nth-child(5), div:nth-child(8) {
  border-right: var(--border);
}
div:nth-child(4), div:nth-child(5), div:nth-child(6) {
  border-bottom: var(--border);
}
div:nth-child(7), div:nth-child(8), div:nth-child(9) {
  border-bottom: var(--border);
}

button {
  margin-top: 60px;
  margin-bottom: 55px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  font-size: 17pt;
  color: rgb(86,86,77);
  background-color: rgb(216,216,216);
  padding: 13px;
  padding-left: 24px;
  padding-right: 24px;
  appearance: none;
  border-style: none;
  border-radius: 4px;
  width: 210px;
  height: 60px;
}
footer {
  text-align: left;
  border-top: 2px solid rgb(86,86,77);
  padding-top: 35px;
}
#closePopupBtn:hover {
  background-color: rgb(75, 75, 68);
  color: rgb(216,216,216);
}
button:hover {
  background-color: rgb(203, 203, 203);
}